*{
 font-family: arial;
 margin: 0;
}

.fondo{
    background-image:linear-gradient(rgba(0, 132, 255, 0.451),hsla(240, 100%, 50%, 0.505)), 
     url(milky-way-9767930_1920.jpg);
    background-size: cover;
    padding:30px ;
    margin: 20px;
    text-align: center;
}
.logo{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-image: url(WhatsApp\ Image\ 2024-01-11\ at\ 5.54.42\ PM\ \(1\).jpeg);
    background-size: cover;
}

.title{
    margin: 20px;
    color: white;
    text-align: center;
}

.contenido{
    color: white;
    line-height: 30px;
    text-align: left;
}


.direccion{
    display: inline-block;
    border-radius: 50px;
    background-color: orange;
    padding: 20px;
    margin: 20px;
}

.direccion a{
    text-decoration: none;
    color: white;
}



