body{
margin: 0;
}

.figura1{
    background-color: red;
    width: 200px;
    height: 200px;
    margin: 90px auto;
    padding: 1.5px 0px 0px 30px; /*alinar la forma sguienete */
}
.figura2{
    background-color: blue;
    width: 200px;
    height: 200px;
    margin: 60px auto;
    padding: 1.5px 0px 0px 30px; /* alinear la forma siguiente*/
}
.figura3{
    background-color:green;
    width: 200px;
    height: 200px;
    margin: 60px auto;
    padding: 10px;
}
