body{
    font-family: Arial, Helvetica, sans-serif;    
}

article{
    width: 400px;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-radius: 10px;
}
.parte1{
background-color: gray;
color:white;
padding: 1px;
text-align: center;
}

.parte2{
    background-color: white;
    padding: 8px;
    font-size: 14px;
    font-family: cursive;
    text-align: justify;
}
.parte3{
    background-color: rgb(180, 178, 178);
    padding: 8px;
    text-align: center;
}
.parte3 a{
    text-decoration: none; 
    color: black;
}
