 body{
   margin: 0;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FFFDD0; /* blanco cremoso */
   color: #333333; /* texto gris oscuro para contraste */
   box-sizing: border-box;
 }

 #logo{
    border-radius:50%;
    border-style: solid;
    border-color: black; 
    display: flex;
    margin: 0 auto;
 }

 header{
   background-color: #1E1C1C; /* negro cremoso */
   color: #FFFFFF;
   padding: 0;
 }
 header h1{
  margin: 0px;
  padding: 10px;
  text-align: center;
 }

 nav{
  text-align: center;
  font-size: 20px;
  background-color:#83A66C;
  cursor: pointer;
 }
 nav img{
  margin: 0 15px;
 }

article{
  margin: 0;
  text-align: center;
}


.titulo{
  display: inline-block;
  background-color: #333333;
  color: white;
  border-style: double;
  border-width: 16px;
  border-color: white black;
  padding: 10px 20px;
}

/*
article h1{
  display: inline-block;
  background-color: white;
  margin: 20px auto;
  border: 10PX;
  border-color: #333333;
  padding: 10px 20px;
}
  */
article p{
  margin: 20px;
  text-align: justify;
}

.productos{
width: 500px;
margin: 0px auto;
}

section article{
  background-color: #F2F5EF;
  margin: 16px 0px;
}

